.App {
  text-align: center;
}

.App-header {
  background-color: #070707;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  background-color: #e42dc8;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ad16ad;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color:#ad16ad;
  padding: 20px;
  margin: 40px;
  border-radius: 5px;
}
li a{
  color: white;
  text-decoration: none;
}
p{
  /* font-size: small; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.error {
  color: red;
}
